:root{
    --gray: rgb(207, 204, 214);
    --umber: rgb(130,98,81);
    --blue: rgb(0, 52, 89);
    --mindaro: rgb(255,253,152);
    --taupe: rgb(150,92,107);
    
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--gray);

}

header{
    background-color: var(--blue);
    color: var(--gray);
    
}

header h1{
    padding: 20px 0;
    font-size: 500%;
    font-family: serif;
    align-self: flex-end;
    margin-left: 50px;
    
}

header nav{
    font-family: 'Prata', serif;
    font-size: 200%;
    align-self: flex-end;
    margin-right: 50px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    margin: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: var(--gray);
}

.head-container{
    flex-basis: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}   
.avatar{
    align-self: left;
    border-radius: 100%;
    max-width: 250px;
    min-width: 100px;
    margin-left: 50px;
    padding: 20px;
}

#about, 
#projects,
#contact{
    display:flex;
    flex-wrap: wrap;
    margin: 0 2% 5% 2%;
}

#about h2,
#projects h2,
#contact h2{
    flex: 1;
    margin: 10px 30px 10px 10px;
    font-family: 'Prata', sans-serf;
    font-size: 400%;
    color: var(--blue);
}

#about p,
#projects div,
#contact ul{
    flex: 3;
    font-size: 25px;
    margin: 5px;
    line-height: 1.3;
}
.project-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    position: relative;
}


.project a{
    display: flex;
    z-index: -1;
}

.project img{
    max-width: 25%;
    flex: 1;
}

.project figcaption{
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    font-style: oblique;
    font-size: 200%;
    position: absolute;
    z-index: 1;
}