*{
    box-sizing: border-box;
}

body{
    background-color: lightgrey;

}

header{
    background-color: darkblue;
    color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1{
    font-size: 500%;
    font-family: serif;
    
}

header div{
    display: flex;
    justify-content: space-between;
}

header nav{
    font-family: 'Prata', serif;
    font-size: 200%;
    align-self: flex-end;
    margin-right: 3%;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    margin: 10px;
}

header nav ul li a{
    text-decoration: none;
    color:lightyellow;
}

.avatar{
    border-radius: 100%;
    max-width: 15%;
    margin-left: 3%;
}

/* main{
    display: flex;
    flex-wrap: wrap;
} */

h2{
    font-family: 'Prata', sans-serf;
    font-size: 400%;
}

#about, 
#projects,
#contact{
    display:flex;
    flex-wrap: wrap;
    margin: 5% 2%;
    justify-content: space-around;
}

#about h2,
#projects h2,
#contact h2{
    flex: 3;
    margin: 10px 30px 10px 10px;
}

#about p,
#projects div,
#contact ul{
    flex: 5;
    font-size: 20px;
    margin: 5px;
}

.project-links{
    display: flex;
}

.project img{
    width: 100%;
}