*{
    box-sizing: border-box;
}

body{
    background-color: lightgrey;

}

header{
    background-color: darkblue;
    color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1{
    font-size: 400%;
    font-family: serif;
    
}

header div{
    display: flex;
    justify-content: space-between;
}

header nav{
    font-family: 'Prata', serif;
    font-size: 200%;
    align-self: flex-end;
    margin-right: 3%;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    margin: 10px;
}

header nav ul li a{
    text-decoration: none;
    color:lightyellow;
}

.avatar{
    border-radius: 100%;
    max-width: 15%;
    margin-left: 3%;
}